.swiper {
  position: relative;

  overflow: hidden;

  @media #{$swiper} {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;

      background-image: linear-gradient(to right, $black, transparent 15%), linear-gradient(to left, $black, transparent 15%);

      pointer-events: none;
    }

    .swiper-slide {
      opacity: 0.5;

      transition: opacity 0.3s ease-in-out;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }
}

.swiper-pagination-progressbar-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
  background-color: $black;
}
