/* ---ПАЛИТРЫ ЦВЕТОВ--- */

// МОНОХРОМНАЯ
$black: #000000;
$white: #ffffff;

/* ---КОНТРЛЬНЫЕ ТОЧКИ И АДАПТИВНОСТЬ--- */

// БРЕЙКПОИНТЫ
$braekpoint-mobile-s: 320px;
$braekpoint-mobile-m: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-s: 1200px;
$breakpoint-desktop-m: 1520px;
$breakpoint-desktop-l: 1920px;
$breakpoint-gap: 0.02px;

// МЕДИА-ВЫРАЖЕНИЯ
// ТЕЛЕФОНЫ
$small-mobile-only: "(max-width: #{$braekpoint-mobile-m - $breakpoint-gap})";
$medium-mobile-only: "(min-width: #{$braekpoint-mobile-m}) and (max-width: #{$breakpoint-tablet - $breakpoint-gap})";
$mobile-only: "(max-width: #{$breakpoint-tablet - $breakpoint-gap})";
// ПЛАНШЕТЫ
$tablet-only: "(min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop-s - $breakpoint-gap})";
// КОМПЬЮТЕРЫ
$desktop-only: "(min-width: #{$breakpoint-desktop-s})";
$small-desktop-only: "(min-width: #{$breakpoint-desktop-s}) and (max-width: #{$breakpoint-desktop-m - $breakpoint-gap})";
$medium-desktop-only: "(min-width: #{$breakpoint-desktop-m}) and (max-width: #{$breakpoint-desktop-l - $breakpoint-gap})";
$large-desktop-only: "(min-width: #{$breakpoint-desktop-l})";
// ИСКЛЮЧЕНИЯ
$not-mobile: "(min-width: #{$breakpoint-tablet})";
$not-desktop: "(max-width: #{$breakpoint-desktop-s - $breakpoint-gap})";
$swiper: "(max-width: 1059.98px)";

// ДВОЙНАЯ ПЛОТНОСТЬ
$retina: "(min-resolution: 2dppx)";
