.about {
  min-height: 550px;
  height: 100vh;
  padding: 20px;

  color: $black;

  background-color: $white;

  ::selection {
    background: $black;
    color: $white;
  }

  @media #{$medium-mobile-only} {
    min-height: 820px;
  }

  @media #{$tablet-only} {
    min-height: 1024px;
  }

  @media #{$small-desktop-only} {
    min-height: 675px;
  }
}

.about__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 12.9vh auto 6.36vh;
  padding: 4px 17px;

  font-family: $secondary-font;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  text-transform: none;
  color: $white;

  background-color: $black;
  border-radius: 40px;

  &::selection {
    background: $white;
    color: $black;
  }

  @media #{$medium-mobile-only} {
    margin: 18.15vh auto 4.88vh;
  }

  @media #{$tablet-only} {
    margin: 15.03vh auto 4.88vh;
    padding: 6px 20px;

    font-size: 20px;
  }

  @media #{$small-desktop-only} {
    margin: 9.04vh auto 7.41vh;
    padding: 6px 20px;

    font-size: 20px;
  }
}

.about__lead {
  margin: 0 auto 3.64vh;

  font-size: 20px;
  text-align: center;

  @media #{$medium-mobile-only} {
    margin-bottom: 2.44vh;

    font-size: 30px;
  }

  @media #{$tablet-only} {
    margin-bottom: 2.93vh;

    font-size: 50px;
  }

  @media #{$small-desktop-only} {
    max-width: 1160px;
    margin: 0 auto 4.44vh;

    font-size: 50px;
  }
}

.about__description {
  margin: 0 auto 6.36vh;

  text-align: center;

  @media #{$medium-mobile-only} {
    margin-bottom: 3.64vh;
  }

  @media #{$tablet-only} {
    margin-bottom: 4.88vh;
  }

  @media #{$small-desktop-only} {
    max-width: 750px;
    margin: 0 auto 7.41vh;
  }
}

.about__work-button {
  margin: 0 auto;
}
