.adventages {
  @include normilize-list;

  display: flex;
  gap: 7.19vw;
  width: 100%;

  overflow-x: clip;

  // scrollbar-width: none;
  @media #{$small-desktop-only} {
    max-width: 1200px;
  }
}

.adventages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  // transform: translateX(calc(-100% - 20px));

  @media #{$tablet-only} {
    min-width: 320px;
  }

  @media #{$small-desktop-only} {
    min-width: 320px;
  }
}

.adventages__title {
  width: fit-content;
  padding: 3px 16px;
  margin: 0 auto 2.18vh;

  font-family: $secondary-font;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  text-transform: none;
  text-align: center;
  color: $black;

  background-color: $white;
  border-radius: 40px;

  &::selection {
    background: $black;
    color: $white;
  }

  @media #{$tablet-only} {
    padding: 6px 19px;
    margin: 0 auto 1.46vh;

    font-size: 20px;
  }

  @media #{$small-desktop-only} {
    padding: 6px 19px;
    margin: 0 auto 1.46vh;

    font-size: 20px;
  }
}

.adventages__description {
  margin: 0;

  text-align: center;
}
