.adventages {
  @include normilize-list;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;

  overflow-x: visible;

  @media #{$desktop-only} {
    max-width: 1200px;
    gap: 7.19vw;
  }

  @media #{$medium-desktop-only} {
    max-width: 1520px;
  }

  @media #{$large-desktop-only} {
    max-width: 1920px;
  }
}

.adventages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 280px;

  @media #{$tablet-only} {
    min-width: 320px;
  }

  @media #{$desktop-only} {
    min-width: 320px;
  }
}

.adventages__wrap {
  width: 270px;
  margin: 0 auto;

  @media #{$medium-mobile-only} {
    width: 300px;
  }

  @media #{$tablet-only} {
    width: 320px;
  }

  @media #{$desktop-only} {
    width: unset;
  }
}

.adventages__title {
  width: fit-content;
  padding: 3px 16px;
  margin: 0 auto 2.18vh;

  font-family: $secondary-font;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  text-transform: none;
  text-align: center;
  color: $black;

  background-color: $white;
  border-radius: 40px;

  &::selection {
    background: $black;
    color: $white;
  }

  @media #{$tablet-only} {
    padding: 6px 19px;
    margin: 0 auto 1.46vh;

    font-size: 20px;
  }

  @media #{$desktop-only} {
    padding: 6px 19px;
    margin: 0 auto 1.46vh;

    font-size: 20px;
  }

  @media #{$medium-desktop-only} {
    padding: 6px 23px;
    margin: 0 auto 1.75vh;

    font-size: 25px;
  }

  @media #{$large-desktop-only} {
    padding: 6px 29px;
    margin: 0 auto 1.85vh;

    font-size: 30px;
  }
}

.adventages__description {
  margin: 0;

  text-align: center;
}
