.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: $primary-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: $white;
  text-transform: uppercase;

  background-color: $black;

  &.body--stop-scrolling {
    overflow: hidden;

    .page-menu {
      mix-blend-mode: normal;
    }
  }

  @media #{$not-mobile} {
    font-size: 16px;
  }

  @media #{$medium-desktop-only} {
    font-size: 20px;
  }

  @media #{$large-desktop-only} {
    font-size: 25px;
  }
}

// .body__header {

// }

.body__main {
  flex-grow: 1;
}

// .body__footer {

// }
