.contacts {
  @include normilize-list;
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 0.91vh;

    @media #{$tablet-only} {
      margin-bottom: 8px;
    }
  }
}

.contacts__link {
  color: inherit;
}
