.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 20px 50px;

  ::selection {
    background: $white;
    color: $black;
  }

  @media #{$not-mobile} {
    padding: 35px 20px 50px;
  }

  @media #{$desktop-only} {
    grid-template-columns: 1fr 2.5fr 1fr;
  }
}

.footer__column {
  &.footer__column--center {
    grid-column: 1 / -1;

    @media #{$desktop-only} {
      grid-column: 2 / 3;
      grid-row: 1 / auto;
    }
  }

  &.footer__column--right {
    grid-column: -2 / -1;

    @media #{$small-mobile-only} {
      grid-row: 3 / auto;
    }

    @media #{$desktop-only} {
      grid-column: auto / -1;
      grid-row: 1 / auto;
    }
  }

  &.footer__column--left {
    @media #{$small-mobile-only} {
      grid-column: 1 / -1;
    }

    @media #{$desktop-only} {
      grid-column: 1 / auto;
      grid-row: 1 / auto;
    }
  }

  &.footer__column--down {
    grid-column: 1 / 2;
    grid-row: 3 / auto;
  }
}

.footer__lead {
  margin: 0 auto 11px;

  font-size: 20px;
  text-align: center;

  @media #{$mobile-only} {
    max-width: 280px;
  }

  @media #{$not-mobile} {
    max-width: 525px;
    margin: 0 auto 27px;

    font-size: 30px;
  }

  @media #{$medium-desktop-only} {
    max-width: 700px;
    margin: 0 auto 14px;

    font-size: 40px;
  }

  @media #{$large-desktop-only} {
    max-width: 750px;
    margin: 0 auto 14px;

    font-size: 40px;
  }
}

.footer__copyright {
  margin: 0 auto 29px;

  font-size: 10px;
  text-align: center;

  @media #{$not-mobile} {
    margin: 0 auto 34px;

    font-size: inherit;
  }

  @media #{$medium-desktop-only} {
    margin: 0 auto;
  }

  @media #{$large-desktop-only} {
    margin: 0 auto;
  }
}

// .footer__current-date {

// }

.footer__link {
  display: flex;
  align-items: center;
  margin: 0 0 11px;

  @media #{$not-mobile} {
    margin-bottom: 30px;
  }
}

.footer__link-image {
  @media #{$not-mobile} {
    width: 232px;
    height: 38px;
  }

  @media #{$desktop-only} {
    width: 226px;
    height: 37px;
  }

  @media #{$medium-desktop-only} {
    width: 265px;
    height: 44px;
  }

  @media #{$large-desktop-only} {
    width: 265px;
    height: 44px;
  }
}

.footer__contacts {
  margin: 0 auto 29px;
}

// .footer__social {

// }

.footer__policy {
  margin: 0;

  @media #{$medium-desktop-only} {
    margin-bottom: 20px;
  }

  @media #{$large-desktop-only} {
    margin-bottom: 20px;
  }
}
