.header {
  ::selection {
    background: $white;
    color: $black;
  }
}

.header__menu {
  position: fixed;
  inset: 0;
  z-index: 50;

  display: none;
  padding: 20px;

  background-color: rgba($black, 0.6);

  backdrop-filter: blur(15px);

  &.header__menu--is-open {
    display: block;
  }
}

// .header__page-menu {

// }

// .header__site-navigation {

// }

.header__form-button {
  margin: auto auto 5.46vh;

  @media #{$medium-mobile-only} {
    margin-bottom: 4.27vh;
  }

  @media #{$tablet-only} {
    margin-bottom: 4.1vh;
  }

  @media #{$desktop-only} {
    position: relative;
    z-index: 3;

    margin-bottom: 0;
  }
}

// .header__contacts-social {

// }
