.hero-section {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;

  ::selection {
    background: $white;
    color: $black;
  }

  @media #{$medium-mobile-only} {
    min-height: 820px;
  }

  @media #{$tablet-only} {
    min-height: 1024px;
  }

  @media #{$small-desktop-only} {
    min-height: 675px;
  }

  @media #{$medium-desktop-only} {
    min-height: 855px;
  }
}

.hero-section__title {
  margin: 5.82vh auto 4.73vh;

  font-weight: 600;
  font-size: clamp(41px, 13vw, 65px);
  text-align: center;

  @media #{$medium-mobile-only} {
    margin: 5.12vh auto 4.88vh;

    font-size: clamp(65px, 13vw, 108px);
    line-height: 48px;
  }

  @media #{$tablet-only} {
    margin: 5.76vh auto 4.59vh;

    font-size: clamp(108px, 13vw, 110px);
    line-height: 70px;
  }

  @media #{$desktop-only} {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: start;
    row-gap: 2.67vh;
    margin: 18.22vh auto 13.33vh;

    font-size: 110px;
  }

  @media #{$medium-desktop-only} {
    margin: 20.21vh auto 8.27vh;

    font-size: clamp(110px, 10vw, 182px);
    line-height: 70px;
  }
}

.hero-section__decorate {
  display: block;
  width: 66.25vw;
  height: 66.25vw;
  margin: 0 auto 4.73vh;

  background-image: url("../../images/icons/stack.svg#cycle-icon");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  &.hero-section__decorate--title {
    @media #{$not-desktop} {
      display: none;
    }
  }

  &.hero-section__decorate--section {
    @media #{$not-mobile} {
      display: none;
    }
  }

  @media #{$medium-mobile-only} {
    width: 79.17vw;
    height: 79.17vw;
    margin-bottom: 4.88vh;
  }

  @media #{$tablet-only} {
    width: 63.41vw;
    height: 63.41vw;
    margin-bottom: 4.59vh;
  }

  @media #{$desktop-only} {
    width: 10.83vw;
    height: 10.83vw;
    margin: 0 7px 0;
  }
}

.hero-section__title-tail {
  font-size: clamp(19px, 3.8vw, 30px);

  @media #{$small-mobile-only} {
    display: none;
  }

  @media #{$not-mobile} {
    font-size: 30px;
  }

  @media #{$desktop-only} {
    grid-column: 1 / -1;
    justify-self: center;
  }

  @media #{$medium-desktop-only} {
    font-size: 40px;
  }
}

.hero-section__adventages {
  margin: 0 0 4.73vh;

  @media #{$medium-mobile-only} {
    margin-bottom: 5.12vh;
  }

  @media #{$tablet-only} {
    margin-bottom: 4.88vh;
  }

  @media #{$desktop-only} {
    margin: 0 auto 9.48vh;
  }
}

.hero-section__form-button {
  margin: auto auto 7.09vh;

  @media #{$medium-mobile-only} {
    margin-bottom: 5.24vh;
  }

  @media #{$tablet-only} {
    margin-bottom: 0;
  }

  @media #{$desktop-only} {
    margin: 0 auto auto;
  }
}
