.page-menu {
  position: fixed;
  inset: 0;
  z-index: 100;

  height: 100%;

  pointer-events: none;
  mix-blend-mode: difference;
}

.page-menu__link {
  position: absolute;
  top: 20px;
  left: 20px;

  pointer-events: auto;
}

.page-menu__link-image {
  width: clamp(93px, 29.06vw, 133px);
  height: clamp(15px, 2.73vh, 22px);

  @media #{$medium-mobile-only} {
    width: clamp(133px, 27.71vw, 199px);
    height: clamp(22px, 2.67vh, 33px);
  }

  @media #{$tablet-only} {
    width: 199px;
    height: 33px;
  }
}

.page-menu__button {
  position: absolute;
  top: 20px;
  left: 50%;

  transform: translateX(-50%);

  @media #{$small-mobile-only} {
    left: unset;
    right: 20px;

    transform: none;
  }
}

.page-menu__scroll {
  position: absolute;
  top: 20px;
  right: 20px;

  margin: 0;

  pointer-events: auto;

  @media #{$small-mobile-only} {
    display: none;
  }

  @media #{$not-mobile} {
    font-size: 18px;
  }
}

// .page-menu__scroll-percent {

// }

.page-menu__time {
  position: absolute;
  left: 20px;
  bottom: 20px;

  margin: 0;

  pointer-events: auto;

  @media #{$not-mobile} {
    font-size: 18px;
  }
}

// .page-menu__time-spb {

// }

.page-menu__form-button {
  position: absolute;
  bottom: 20px;
  right: 20px;

  pointer-events: auto;
}
