.policy {
  @include normilize-list;
}

// .policy__item {

// }

.policy__link {
  display: flex;
  align-items: center;

  font-size: 10px;
  color: inherit;

  opacity: 0.5;

  @media #{$not-mobile} {
    max-width: 300px;

    font-size: 12px;
  }

  @media #{$medium-desktop-only} {
    max-width: 325px;

    font-size: 16px;
  }

  @media #{$large-desktop-only} {
    max-width: 325px;

    font-size: 16px;
  }
}
