.services {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  height: 100vh;
  padding: 20px;

  color: $black;

  background-color: $white;

  ::selection {
    background: $black;
    color: $white;
  }

  @media #{$medium-mobile-only} {
    min-height: 820px;
  }

  @media #{$tablet-only} {
    min-height: 1024px;
  }

  @media #{$small-desktop-only} {
    min-height: 675px;
  }
}

.services__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 5.45vh auto 6.36vh;
  padding: 4px 17px;

  font-family: $secondary-font;
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  text-transform: none;
  color: $white;

  background-color: $black;
  border-radius: 40px;

  &::selection {
    background: $white;
    color: $black;
  }

  @media #{$medium-mobile-only} {
    margin: 10.73vh auto 4.88vh;
  }

  @media #{$tablet-only} {
    margin: 7.91vh auto 4.88vh;
    padding: 6px 20px;

    font-size: 20px;
  }

  @media #{$small-desktop-only} {
    margin: 5.63vh auto 7.41vh;
    padding: 6px 20px;

    font-size: 20px;
  }
}

.services__description {
  margin: 0 auto 6.36vh;

  font-size: 20px;
  text-align: center;

  @media #{$medium-mobile-only} {
    margin-bottom: 7.32vh;

    font-size: 30px;
  }

  @media #{$tablet-only} {
    margin-bottom: 2.93vh;

    font-size: 50px;
  }

  @media #{$small-desktop-only} {
    margin-bottom: 8.44vh;

    font-size: 50px;
  }
}


.services__types {
  margin: 0 auto 6.36vh;
}

.services__button {
  margin: auto auto 8.55vh;

  @media #{$medium-mobile-only} {
    margin-bottom: 10.61vh;
  }

  @media #{$tablet-only} {
    margin-bottom: 7.91vh;
  }

  @media #{$small-desktop-only} {
    margin-bottom: 8.44vh;
  }
}
