// .site-navigation {

// }

.site-navigation__list {
  @include normilize-list;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 9.96vh 0 9.46vh;

  @media #{$medium-mobile-only} {
    margin: 18.27vh 0 14.76vh;
  }
}

.site-navigation__item {
  &:not(:last-child) {
    margin-bottom: 3.64vh;

    @media #{$medium-mobile-only} {
      margin-bottom: 4.63vh;
    }
  }
}

.site-navigation__link {
  font-size: 30px;
  color: inherit;

  &.site-navigation__link--current {
    display: inline-flex;
    pointer-events: none;

    &::before,
    &::after {
      content: "/";
    }
  }

  @media #{$medium-mobile-only} {
    font-size: 45px;
  }
}
