// .site-navigation {

// }

.site-navigation__list {
  @include normilize-list;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 17.46vh 0 9.46vh;
}

.site-navigation__item {
  &:not(:last-child) {
    margin-bottom: 3.64vh;
  }
}

.site-navigation__link {
  font-size: 30px;
  color: inherit;

  &.site-navigation__link--current {
    display: inline-flex;
    pointer-events: none;

    &::before,
    &::after {
      content: "/";
    }
  }
}
