.types {
  @include normilize-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.types__item {
  padding: 4px 13px;

  font-family: $secondary-font;
  font-style: italic;
  text-transform: none;

  border: 1px solid $black;
  border-radius: 40px;

  &:not(:last-child) {
    margin-bottom: 2.73vh;

    @media #{$tablet-only} {
      margin-bottom: 2.93vh;
    }
  }

  &.types__item--design {
    &::selection {
      background: $black;
      color: $white;
    }
  }

  &.types__item--marketing {
    color: $white;

    background-color: $black;

    &::selection {
      background: $white;
      color: $black;
    }
  }

  @media #{$tablet-only} {
    padding: 5px 22px;

    font-size: 25px;
  }

  @media #{$small-desktop-only} {
    padding: 5px 22px;

    font-size: 25px;
  }
}
